@each $key, $val in $colors {
    .col-#{$key}{ color: $val; }
    .bg-#{$key}{ background-color: $val; }

    .col-hover-#{$key}{ &:hover{ color: $val; }}
    .bg-hover-#{$key}{ &:hover{ background-color: $val; }}

    @if ($key != "black" and $key != "white"){
        .col-#{$key}-5 { color: $val; }
        .bg-#{$key}-5 { background-color: $val; }
        .col-hover-#{$key}-5 { &:hover{ color: $val; }}
        .bg-hover-#{$key}-5 { &:hover{ background-color: $val; }}

        // DARK
        @for $i from 1 through 4 {
            .col-#{$key}-#{$i} { color: mix(black, $val, 100 - ($i*20)); }
            .bg-#{$key}-#{$i} { background-color: mix(black, $val, 100 - ($i*20)); }
            .col-hover-#{$key}-#{$i} { &:hover{ color: mix(black, $val, 100 - ($i*20)); }}
            .bg-hover-#{$key}-#{$i} { &:hover{ background-color: mix(black, $val, 100 - ($i*20)); }}
        }

        // LIGHT
        @for $i from 6 through 9 {
            .col-#{$key}-#{$i} { color: mix(white, $val, ($i - 5) * 20); }
            .bg-#{$key}-#{$i} { background-color: mix(white, $val, ($i - 5) * 20); }
            .col-hover-#{$key}-#{$i} { &:hover{ color: mix(white, $val, ($i - 5) * 20); }}
            .bg-hover-#{$key}-#{$i} { &:hover{ background-color: mix(white, $val, ($i - 5) * 20); }}
        }
    }
}