@mixin btn() { 
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: $base-padding $base-padding * 2;
    border-radius: $base-border-radius;
    transition: $base-transition;
}

@each $key, $val in $colors{
    .btn-#{$key} {
        @include btn();
        background-color: $val;
        &:hover{ background-color: lighten($val, 10) }
    }

    .btn-outline-#{$key} {
        @include btn();
        background-color: transparent;
        color: $val;
        border: $base-border-thickness solid $val;
        &:hover{ background-color: $val; color: map-get($colors, "white"); }
    }
}